extends layout
block highscores     
      aside             
            h1 TOP 5 HI SCORES 
            -const top5highscore=leaderboard

                  each item in top5highscore
                  -if(score > item.highscore)
                        h1 CONGRATULATIONS ON A NEW HIGHSCORE!
                  ol
                        li #{item.username} #{item.highscore}

                             
           
            
        

