body {
    background-color: black;
    text-align: center;
    margin-top: 20px;
}
h3 {
    color:blue;
    
}
#gameFace {
    position:relative;
}
.top {
    position:absolute;
}
.bottom {
    position:absolute;
}
.tile {
    width: 150px;
    height: 150px;
    display: center;
    cursor: pointer;
    border-color: gray;
}
.tile:hover {
    box-shadow: inset 0 0 0 5px white;
    box-sizing: border-box;
    
}
.upper-right-tile {
    border-top-right-radius:100%;
    background-color: red;
   
}
.upper-left-tile {
    border-top-left-radius:100%;
    background-color:green;
}
.lower-left-tile {
    border-bottom-left-radius:100%;
    background-color: yellow;
    
} 
.lower-right-tile {
    border-bottom-right-radius:100%;
    background-color: blue;
    
}

.btn {
    border: none;
    background-color: inherit;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
  }
  
  /* On mouse-over */
  .btn:hover {background: #eee;}
  .success {color: green;}
  .reset {color: red;}
  

  #roundCounter {
    position:flex;
    background: yellow;
    color: red;
    font-family: Arial;
    font-size: bold 18px;
    height: 40px;
    width: 60px;
    margin-left: 50%;
    margin-bottom:10px;
    text-align: center;
    line-height: 40px;
  }
aside h1 {
    color:white;
    text-align:left;
    margin-bottom: 5px;

}
#Congrats { 
    color:yellowgreen;
}





