body {
    background-color: black;
    text-align: center;
    margin-top: 100px;
}
h3 {
    color:blue;
    
}
.tile {
    width: 200px;
    height: 200px;
    display: inline-block;
    cursor: pointer;
    border-color: gray;
}
.tile:hover {
    box-shadow: inset 0 0 0 5px white;
    box-sizing: border-box;
}
.upper-right-tile {
    border-top-right-radius:100%;
    background-color: red;
   
}
.upper-left-tile {
    border-top-left-radius:100%;
    background-color: green;
}
.lower-left-tile {
    border-bottom-left-radius:100%;
    background-color: yellow;
    
} 
.lower-right-tile {
    border-bottom-right-radius:100%;
    background-color: blue;
    
}

.btn {
    border: none;
    background-color: inherit;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
  }
  
  /* On mouse-over */
  .btn:hover {background: #eee;}
  .success {color: green;}
  .reset {color: red;}
  

  #roundCounter {
    position: absolute;
    background: yellow;
    color: red;
    font-family: Arial;
    font-size: 18px;
    height: 40px;
    width: 60px;
    margin-left: 325px;
    margin-top: 15px;
    text-align: center;
    line-height: 40px;
  }






